<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Präsentation</title>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    
        <link rel="stylesheet" type="text/css" href="/Resources/Slides/template/main.css">
    
    
</head>
<body>
    
        <div class="content_section">
            <div class="content_section_inner">
                
                    
    <ul>
        
            <li>
    <p>
    Im totalen Haltverbot <br>
</p>
</li>
        
    </ul>

                
            </div>
        </div>
    
        <div class="content_section">
            <div class="content_section_inner">
                
                    <h3>
        <p>
    Der tote Bote <br>
</p>
</h3>
                
                    <p>
    Die Post <br>

    im Stadtteil Ost <br>

    kommt heute nicht, <br>

    weil der tote Bote dort umringt von Leuten liegt. <br>

    In dem Auto sitzt er tot <br>

    im totalen Haltverbot <br>

    und hält friedlich in der Hand ’ne Scheibe Brot. <br>
</p>
                
                    <p>
    \begin{align*}
x^2 + y^2 &amp;= 1 \\
y &amp;= \sqrt{1 - x^2}
\end{align*} <br>
</p>
                
                    <p>
    Der Täter konnte unerkannt entweichen. <br>

    Und auf dem Toastbrot klebt ein Postwertzeichen; <br>

    drunter steht – nach Vorschrift zwei – <br>

    wem das Brot geschrieben sei, <br>

    und der Absender natürlich auch dabei. <br>
</p>
                
            </div>
        </div>
    
        <div class="content_section">
            <div class="content_section_inner">
                
                    <p>
    Das ist die Ballade von dem Mann, <br>

    der ein Brot verschicken wollte und nicht kann. <br>

    Er erschlug den Boten fix, <br>

    doch das nützte leider nix, <br>

    denn das Brot kam dadurch auch nicht schneller an. <br>
</p>
                
                    <p>
    Der Mann hat sich verliebt in eine Dame. <br>

    Er kannte nur Geburtstag, Haus und Name. <br>

    Er hätt’ sie so gern liebkost, <br>

    sie wird dreißig morgen, prost! <br>

    Darauf sprach und schickte er ihr einen Toast. <br>
</p>
                
                    <p>
    Doch hätte er’s geschrieben früher nuhuhur! <br>

    Die letzte Leerung war um vierzehn Uhuhur! <br>

    Blickt auf seine Uhr entsetzt – <br>

    kurz vor zwei ist’s eben jetzt – <br>

    und ist außer sich zum Briefkasten gewetzt. <br>
</p>
                
            </div>
        </div>
    

    
</body>
</html>